<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>/review title/</title>
    <link rel="stylesheet" href="../style.css" />
    <script src="../scripts/global.js" defer></script>
    <script src="../scripts/utils.js" defer></script>
    <script src="../scripts/loadSelections.js" defer></script>
    <script src="../scripts/nav.js" defer></script>
    <script src="../scripts/footer.js" defer></script>
    <script src="../scripts/reviews.js" defer></script>
  </head>
  <body>
    <header-nav></header-nav>

    <main>
      <article class="review_section">
        <section id="review_header">
          <div class="img_and_title_container">
            <img
              src="/assets/WoW_The_War_Within_Key_Art_Horizontal.jpg"
              alt=""
            />
            <div class="title">
              <h2 class="title_h">Game Title</h2>
              <h3 class="title_desc">Game Short Subtitle Description</h3>
            </div>
          </div>
          <div class="review_details_container">
            <div class="adp_container">
              <p>Author: ...</p>
              <p>Date: ...</p>
              <p>Playtime on review publish: ...</p>
            </div>
            <h3 class="review_score">?/10</h3>
          </div>
          <div class="game_details_container">
            <p>GENRE genre</p>
            <p>DEVELOPER developer</p>
            <p>PUBLISHER publisher</p>
            <p>PLATFORM platform</p>
            <p>RELEASE DATE release date</p>
          </div>
        </section>
        <section id="review_main">
          <div class="review_main_subsection">
            <h3>Game Introduction</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
              porttitor dolor ut erat porttitor, non suscipit quam semper. Ut
              posuere vitae arcu at facilisis. Phasellus ac massa ex.
              Suspendisse venenatis massa sit amet ex egestas congue.
              Suspendisse dapibus augue at lorem consectetur sollicitudin.
              Aenean at tellus commodo, posuere leo id, volutpat sem. Donec
              sollicitudin gravida vulputate. Curabitur consectetur tempor metus
              quis facilisis. Aliquam ut ante vel diam sollicitudin facilisis.
              Sed viverra justo quis tellus lacinia, ut euismod urna cursus.
              Quisque tristique commodo quam et molestie. Sed ultrices pharetra
              sodales. Nullam vitae lacinia ante. Quisque quis sapien vitae
              mauris malesuada sodales in ac ex.
            </p>
          </div>
          <div class="review_main_subsection">
            <h3>Gameplay</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
              porttitor dolor ut erat porttitor, non suscipit quam semper. Ut
              posuere vitae arcu at facilisis. Phasellus ac massa ex.
              Suspendisse venenatis massa sit amet ex egestas congue.
              Suspendisse dapibus augue at lorem consectetur sollicitudin.
              Aenean at tellus commodo, posuere leo id, volutpat sem. Donec
              sollicitudin gravida vulputate. Curabitur consectetur tempor metus
              quis facilisis. Aliquam ut ante vel diam sollicitudin facilisis.
              Sed viverra justo quis tellus lacinia, ut euismod urna cursus.
              Quisque tristique commodo quam et molestie. Sed ultrices pharetra
              sodales. Nullam vitae lacinia ante. Quisque quis sapien vitae
              mauris malesuada sodales in ac ex.
            </p>
          </div>
          <div class="review_main_subsection">
            <h3>Story</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
              porttitor dolor ut erat porttitor, non suscipit quam semper. Ut
              posuere vitae arcu at facilisis. Phasellus ac massa ex.
              Suspendisse venenatis massa sit amet ex egestas congue.
              Suspendisse dapibus augue at lorem consectetur sollicitudin.
              Aenean at tellus commodo, posuere leo id, volutpat sem. Donec
              sollicitudin gravida vulputate. Curabitur consectetur tempor metus
              quis facilisis. Aliquam ut ante vel diam sollicitudin facilisis.
              Sed viverra justo quis tellus lacinia, ut euismod urna cursus.
              Quisque tristique commodo quam et molestie. Sed ultrices pharetra
              sodales. Nullam vitae lacinia ante. Quisque quis sapien vitae
              mauris malesuada sodales in ac ex.
            </p>
          </div>
          <div class="review_main_subsection">
            <h3>Final Thougts</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
              porttitor dolor ut erat porttitor, non suscipit quam semper. Ut
              posuere vitae arcu at facilisis. Phasellus ac massa ex.
              Suspendisse venenatis massa sit amet ex egestas congue.
              Suspendisse dapibus augue at lorem consectetur sollicitudin.
              Aenean at tellus commodo, posuere leo id, volutpat sem. Donec
              sollicitudin gravida vulputate. Curabitur consectetur tempor metus
              quis facilisis. Aliquam ut ante vel diam sollicitudin facilisis.
              Sed viverra justo quis tellus lacinia, ut euismod urna cursus.
              Quisque tristique commodo quam et molestie. Sed ultrices pharetra
              sodales. Nullam vitae lacinia ante. Quisque quis sapien vitae
              mauris malesuada sodales in ac ex.
            </p>
          </div>
        </section>
      </article>
    </main>

    <footer-nav></footer-nav>
  </body>
</html>
